 <!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Flask Parent Template</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />



 </head>
 <body>
        <header>
          <div class="container">
            <h1 class="logo">BookMark Manager</h1>
          </div>
        </header>

    {% block content %}
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

      <script>
      $(function () {

        $("#plugins1").jstree({
        "checkbox" : {
          "keep_selected_style" : false
        },
        "core" : {
          "check_callback" : true
        },

        "plugins" : [ "checkbox", "dnd" ]
      });



        $( "#submit" ).click(function() {
            var data =  $('#plugins1').jstree('get_selected', true);
            var name = []
            $.each(data, function(index, val){
                name.push(val.text)
                alert(val.text)
            })
            alert(name[0])
            });

        });

      </script>

 </body>
</html>