<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    {% extends "template.html" %}
   {% block content %}
     <div id="plugins1">
        <ul class="menu">
        {% for item in data %}
                    <li class="jstree-open" id = {{ item }}> {{ item }}
                        <ul>
                            {%  for j in data[item] %}
                                <li > {{ j }} </li>

                            {% endfor %}
                        </ul>
                     </li>
        {% endfor %}
        </ul>
     </div>
     <button id = "submit"> Submit </button>
   {% endblock %}
  </body>
</html>